<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/profilepic.css">
</head>
<body>

    <h1>Upload profile pic</h1>
    <div id="logg" class="form">
    <form  method="post" action="/upload" enctype="multipart/form-data">
      
        <input type="file" placeholder="email" name="image" required><br>
       
        <button style="margin-top: 20px; background-color: lightskyblue; "  type="submit">Upload file</button> 
      </form>
    </div>
   
    
</body>
</html>